* {
  margin: 0;
  padding: 0;
}

nav {
  font-size: 20px;
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav li:first-child {
  margin-right: auto;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: white;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  background-color: rgba(250, 235, 215, 0.639);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0px 10px rgba(0,0,0,0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.sidebar li,
.siderbar a {
  width: 100%;
}

.menu-button {
  display: none;
}

.c-item {
  height: 600px;
}

.c-img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  color: black;
}

.bi-star-fill {
  color: gold;
  font-size: 60px;
}